
@font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/static/Raleway-Medium.ttf");
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("../assets/fonts/static/Raleway-Bold.ttf");
}

#nav-container {
    justify-content: space-between;
    background-color: transparent;
    color: white;
    padding: 10px;
    width: 1000px;
    flex-direction: row;
}
#navbar{
    display: flex;
    justify-content: space-between;
}
#navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
#navbar a:hover{
    color: #ff6c00;
}

#navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar li{
    list-style-type: none;
}

.book-service-button:hover {
    background-color: #ff6c00;
    color: white;
}

.book-service-button{
    border: 1px solid #ff6c00;
    color: white;
    border-radius: 25px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    cursor: pointer; /*üzeine gelindiğinde farede el simgesi çıkıyor. Buton olduğunu anlamak içi*/
}
.header-container{
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    background-image: url(../images/background.png);
    background-size: cover;
    height: 680px;
}
.main-title{
    font-size: 50px;
    color: white;
    font-weight: bold;
    margin: 0px;
}
.main-subtitle{
    font-size: 20px;
    color: #9da4bd;
}
.intro-text{
    font-size: 20px;
    color: #9da4bd99;
}

.intro-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    width: 400px;
}
.intro-line{
    width: 100px;
    height: 2px;
    background-color: #9da4bd99;   
}
#aside-header {
    background-color: white;
    padding: 10px;
    transform: rotate(180deg);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#aside-header ul {
    display: flex;
    transform: rotate(360deg);
    flex-direction: column;
    gap: 50px;
}

#aside-header li {
    display: flex;
    transform: rotate(90deg);
}
#aside-header {
    display: flex;
}
#aside-header ul {
    display: flex;
}

#aside-header a{
    color: black;
    text-decoration: none;

}
#aside-header a:hover {
    color: #ff6c00;
}

#aside-header li{
    list-style-type: none;
}
.header-intro-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.book-a-service-outlined{
    border: 1px solid #ff6c00;
    border-radius: 25px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    cursor: pointer; /*üzeine gelindiğinde farede el simgesi çıkıyor. Buton olduğunu anlamak içi*/
    color: black;
}
.book-a-service-outlined:hover{
    background-color: #ff6c00;
    color: white;
}
.about-description{
    font-size: 14px;
    color: #555555;
    line-height: 26px; /*satır yüksekliği*/
    font-family: "Open Sans", sans-serif;
    text-align: left;
}

.about-subtitle{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #555555;
    font-weight: bold;
}
.about-title{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 49.31px;
    letter-spacing: 5%;
}
.black-line{
    width: 60px;
    height: 2px;
    background-color: #303030;
    border-radius: 100px;
}
.about-line-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
#about{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    gap: 20px;
}
.about-images{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    object-fit: contain;
}

#header-content{
 display: flex;
 flex-direction: column;
 justify-content: space-between; /*İçerikleri hizala*/
 align-items: flex-start;
 gap: 20px;
 margin-left: 50px;
 padding-bottom: 120px;
}
.vertical-line{
    width: 60px;
    height: 2px;
    background-color: black;
}
#services-and-prices{
    display: flex;
    flex-direction: column;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 50px;
    padding-top: 50px;
}
#services-intro-title{
    color: #9da4bd99;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
}
.services-intro-line{
    width: 60px;
    height: 2px;
    background-color: #9da4bd99;
}
#services-intro-container{
    display: flex;
    align-items: center;
    gap: 15px;
}
#services-and-prices-title{
    font-size: 40px;
    font-family: "Raleway-Bold";
    font-weight: 700;
    color: white;
}

.service-table-content-seperate-line {
    width: 60%;
    height: 2px;
    background-color: #9da4bd99;
}

.table-list-items{
    color: #9da4bd;
    font-family: "Open Sans", sans-serif;
}
.table-list-items li{
    list-style-type: none;
}
.service-table-row{
    display: flex;
    align-items: center;
    gap: 5px;
}
#services-card-containers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
#left-card {
    flex: 1;
    background: linear-gradient(180deg,rgba(23, 26, 36, 1),rgba(23, 26, 36, 0.2));
    padding: 20px;
}

#right-card {
    flex: 1;
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
    padding: 20px;
}
#book-service-button-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 150px;
}
.old-school-line-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
#old-school-small-title{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
#old-school-title{
    font-family: "Raleway-Bold";
    font-weight: 700;
    font-size: 42px;
}
#old-school-description{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #555555;
}
#why-us {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    gap: 20px;
}
.intoduction-card{
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    width: 170px;
    align-items: center;
    margin: 20px;
}

.intoduction-card-title{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #303030;
    height: 20%;
}
.intoduction-card-description{
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    color: #555555;
    font-weight: 600;
}
.why-us-column{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: column;
}
#introduction-down-card{
    margin-top: 50px;
}

#intoduction-cards{
    display: flex;
    flex-direction: row;
}